.card{
    display: flex;
    flex-direction:row;
    background-color: silver;
    border: 1px solid black;
    border-style: double;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    width: 450;
    height: 350px;
    box-shadow: 10px 10px 15px #999;
}
.info{
  padding-left: 20px;
  text-align: center;
}
.card:hover{
    transform: scale(1.05);
}

img {
    width: 300px;
    height: 300px;
  }

h2{
   align-items: center;
   padding-left: 15px;
   color: rgb(12, 53, 114);
  }

h4, h3{
  text-align: justify;
}

  .linck {
    text-decoration: none;
    color: rgb(31, 52, 52);
  }
  