
.conteiner{
    display: flex;
    flex-direction: column;   
}
.paginado{
    text-align: center; 
}
.home{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.number {
    display: inline-block;
    margin-right: 10px; 
  }
.sidebar{
    width: 900px;
}