
.conteiner{
    display: flex;
    flex-direction: column;

}
.paginado{
    text-align: center; 
    margin-top: 10px;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: center; 
}

.number {
    display: inline-block;
    margin-right: 10px; 
  }
.sidebar{
    width: 900px;
}