.menu{
    /* height: 500px; */
    width: 80%;
    background-color: rgb(194, 243, 226);
    border-radius: 20px;
    margin: 45px 30px 10px 30px;
    padding: 20px;
    padding-bottom: 60px;
    box-shadow: 10px 10px 15px #999;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: left;
    
}

select{
    border-radius: 5px;
    height: 30px;
}