.detail{
    background-color: #b9a78e;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 200px 0px 200px;
    box-shadow: 10px 10px 15px #999;
    border: #6a3c1f solid;
}
.prim{
        
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgdetail{
    
    height: 350px;
    width: 350px;
    /* box-shadow: 10px 10px 15px #999; */
}
.titleDetail{
    padding-top: 20px;
}

.infor{
    margin-left: 50px;
    padding-top: 30px;
    text-align: left;
    margin-bottom: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
}
#name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    color: #762e15;
    box-shadow: 0px 0px 10px 10px#a9785e;
    padding-top: 10px;
}
